<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" value="true" />

  <arg name="bagfile" default="2022-04-04-11-29-08.bag"/>
        <!-- Play the bagfile -->
  <node pkg="rosbag" type="play" name="rosbag" args="--clock $(arg bagfile) -r 1" />
  

  <arg name="my_args" default="--num_gpu 1 --num_gpu_start 0 --model_folder /home/hamoun/git/openpose/models/ "/>

  <node name="ros_openpose_egocentric_node" pkg="ros_openpose_egocentric" type="ros_openpose_egocentric_node" output="screen" args="$(arg my_args)"/> 

  <arg name="show_rviz" default="false"/>
  <group if="$(arg show_rviz)">
    <arg name="rviz_file" default="$(find main_pkg)/rviz/config.rviz" />
    <node pkg="rviz" type="rviz" name="$(anon rviz)" output="screen"
          args="-d $(arg rviz_file)" />
  </group>

</launch>
